<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/lodash/4.12.0/lodash.js"></script>
    <script src="js/dist/script.js"></script>
    <!-- <script src="js/src/script.js"></script> -->
</head>
<body>

    <script type="text/template" id="test">
        <div class="wrapper">
            <h2>Тест</h2>
            <form action="index.html" method="post">
                <% for(let i = 0; i < str.length; i++) { %>
                    <ul class="<%= 'question' + (i + 1) %>">
                        <p><%= str[i].question %></p>
                        <% for(let j = 0; j < str[i].answers.length; j++) { %>
                            <li class="<%= 'question-answer ' + (i + 1) + (j + 1) %>">
                                <label for="<%= 'check' + (i + 1) + (j + 1) %>">
                                    <input type="checkbox" id="<%= 'check' + (i + 1) + (j + 1) %>" value="<%= str[i].value[j] %>">
                                    <span><%= str[i].answers[j] %></span>
                                </label>
                            </li>
                            <% } %>
                    </ul>
                    <% } %>
            </form>

            <input type="button" id="Send" value="Проверить мои результаты">
        </div>
    </script>

    <div class="modal-form">
        <div class="modal-header">
            <span class="modal-title"></span>
            <span class="modal-close">×</span>
        </div>
        <div class="modal-body">
            <span class="modal-result"></span>
        </div>
        <div class="modal-footer">
            <form class="modal-buttons" action="index.html" method="post">
                <input type="button" name="name" value="Повторить попытку">
            </form>
        </div>
    </div>
    <div class="overlay">

    </div>

</body>
</html>
