content
    margin: 0 auto
    width: 1240px
    height: 725px
    display: block
    background-color: #ffffff

.content__last
    margin: 0 29px 157px 0
    display: block
    float: left
    width: 614px
    height: 470px

.content__last .title
    margin: 59px 0 1px 43px
    display: block
    width: 160px
    height: 26px
    font: 24px $fontStyle
    color: $colorContent
    float: left
    overflow: hidden

.content__last .news
    margin: 49px 0 -19px 32px
    display: block
    height: 147px
    float: left

.content__last .photo
    margin: -4px 33px 0 -7px
    float: left
    display: block
    width: 167px
    height: 150px

.content__last .info
    margin: 0 0 0 0
    width: 326px
    height: 17px
    float: left
    display: block
    font: 16px $fontStyle
    color: $colorContent
    letter-spacing: 0.2px

.content__last .info a
    text-decoration: none
    color: $colorContent

.content__last .info a:hover
    color: $colorBlue

.content__last .comments
    margin: 7px 0 0 0
    width: 190px
    height: 15px
    float: left
    display: block
    font: 13px Arial
    letter-spacing: 0.3px

.comments__blue
    color: $colorBlue

.content__last .text
    margin: 24px 0 0 0
    width: 378px
    height: 77px
    float: left
    display: block
    color: #8a8a8a
    font-family: Arial, sans-serif
    font-size: 13px
    line-height: 20px

.content__banners
    margin: 0 0 0 0
    display: block
    float: left
    width: 576px
    height: 470px

.content__banners .title
    margin: 58px 0 0 0
    display: block
    width: 160px
    height: 26px
    font: 24px $fontStyle
    color: $colorContent
    float: left
    overflow: hidden

.content__banners .accordion
    margin: 47px 0 0 0
    display: block

.content__banners .accordion span
    margin-bottom: 6px
    display: block
    width: 506px
    height: 24px
    padding: 12px 0 0 50px
    border: 1px solid #e8e8e8
    background: url(../img/line.png) right 12px no-repeat
    font: 13px $fontStyle
    text-transform: uppercase

.content__banners .accordion span:hover
    color: white
    background-color: $colorHover

.content__banners .accordion span.active
	background-position: right -45px

.content__banners .accordion p
    margin: 26px 0 39px 38px
    display: block
    width: 516px
    color: #8a8a8a
    font: 13px Arial, sans-serif
    line-height: 20px

.content__sponsor
    margin: 0 0 0 0
    clear: left
    display: block

.content__sponsor .rbp
    margin: 0 0 0 40px
    display: inline-block
    width: 143px
    height: 62px

.content__sponsor .moto
    margin: 0 0 0 44px
    display: inline-block
    width: 143px
    height: 62px

.content__sponsor .grave
    margin: 0 0 0 61px
    display: inline-block
    width: 184px
    height: 64px

.content__sponsor .atx
    margin: 0 0 0 43px
    display: inline-block
    width: 143px
    height: 62px

.content__sponsor .cruseir
    margin: 0 0 0 55px
    display: inline-block
    width: 143px
    height: 62px

.content__sponsor .gear
    margin: 0 0 0 33px
    display: inline-block
    width: 143px
    height: 62px
