menu
    margin: 0 auto
    width: 1160px

.main__menu
  ul
    clear: both
    width: 1160px
    background-color: #2a2d32

  li
    list-style-type: none
    display: inline-block
    padding: 19px 23px
    border-right: 1px solid black

  li:first-child
    padding: 19px 34px
    background-color: #248cec

  li:last-child
    padding: 19px 37px

  a
    color: white
    font-family: "Ubuntu Condensed", $fontStyle
    text-decoration: none

  a:hover
    color: $colorHover

.main__search
    position: absolute
    top: 119px
    left: 963px
    padding: 12px 100px 12px 13px
    border: 1px solid rgb(24, 26, 29)
    box-sizing: border-box
    background-color: #35383c
    color: #626466

.img
    position: absolute
    top: 131px
    left: 1175px
    display: block
    width: 15px
    height: 15px
    padding: 0
    border: transparent

.main__search:focus
    outline: none
