@media (min-width : 960px){
    .wrapper{
        margin: 0 auto;
        min-width: 960px;
        height: 100%;
    }
    .header{
        padding-top: 70px;
        width: 100%;
        background: url(../img/bg.jpg);
        background-position: top center;
        background-repeat: no-repeat;
    }
    .logo{
        display: block;
        float: left;
        width: 152px;
        height: 39px;
        background: url(../img/logo.png) 0 0 no-repeat;
    }
    .header-home{
        margin: 5px 0 0 174px;
        display: inline-block;
        float: left;
        color: white;
        font-family: 'league_gothicregular', Arial, sans-serif;
        font-size: 24px;
        line-height: 24px;
        text-decoration: none;
        text-transform: uppercase;
    }
    .header-home:hover{
        margin: 5px 0 0 174px;
        float: left;
        display: inline-block;
        color: white;
        font-family: 'league_gothicregular', Arial, sans-serif;
        font-size: 24px;
        line-height: 24px;
        border-bottom: 2px solid #edbfff;
        text-decoration: none;
        text-transform: uppercase;
    }
    .header-menu-item{
        margin: 5px -3px 0 51px;
        display: inline-block;
    }
    .header-menu_item-last{
        margin: 0 0 0 0;
        display: inline-block;
    }
    .header-menu-link{
        margin: 0 0 0 0;
        display: block;
        color: white;
        font-family: 'league_gothicregular', Arial, sans-serif;
        font-size: 24px;
        text-decoration: none;
        text-transform: uppercase;
    }
    .header-menu-link-last{
        margin: 0 0 0 51px;
        display: block;
        color: white;
        font-family: 'league_gothicregular', Arial, sans-serif;
        font-size: 24px;
        text-decoration: none;
        text-transform: uppercase;
    }
    .header-text{
        margin: 0 0 0 0;
        height: 569px;
        clear: both;
        text-align: center;
    }
    .black-line{
        margin: 178px 0 0 0;
        height: 400px;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .jcarousel-wrapper {
        margin: 20px auto;
        position: relative;
        width: 959px;
        height: 400px;
    }

    /** Carousel **/

    .jcarousel {
        position: relative;
        overflow: hidden;
    }

    .jcarousel ul {
        width: 20000em;
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .jcarousel li {
        float: left;
        width: 959px;
        height: 400px;
    }

    /** Carousel Controls **/

    .jcarousel-control-prev,
    .jcarousel-control-next {
        position: absolute;
        top: 200px;
    }

    .jcarousel-control-prev {
        left: 0px;
    }

    .jcarousel-control-next {
        right: 0px;
    }

    .jcarousel-control-prev:hover span,
    .jcarousel-control-next:hover span {
        display: block;
    }

    .header-text_block{
        display: none;
    }
    .header-text_block2{
        display: none;
    }
    .header-text_block3{
        margin: 91px 0 0 30px;
        width: 300px;
        height: 199px;
        float: left;
    }
    .iphone{
        display: none;
    }
    .iphone4{
        margin: 0px 71px 0 0;
        float: right;
    }
    .header-text_first{
        margin: 0 0 0 0;
        display: block;
        width: 305px;
        color: #fefefe;
        font-family: 'league_gothicregular', Arial, sans-serif;
        font-size: 60px;
        line-height: 36px;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    }
    .header-text_second{
        margin: 9px 0 0 0;
        display: block;
        width: 402px;
        color: #edbfff;
        font-family: 'league_gothicregular', Arial, sans-serif;
        font-size: 33px;
        line-height: 36px;
        letter-spacing: -0.4px;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
        text-transform: uppercase;
    }
    .header-text_third{
        margin: 0 0 0 0;
        width: 506px;
        height: 143px;
        display: block;
        color: white;
        font-family: 'Open Sans', Arial, sans-serif;
        text-align: left;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.4px;
    }
    .header-info{
        position: absolute;
        top: 846px;
        width: 100%;
        border-top: 1px solid #33253a;
        background: linear-gradient(to top, #322539, #745083);
    }
    .header-info_company{
        margin: 79px 0 0 65px;
        display: block;
        color: white;
        font-family: 'league_gothicregular', Arial, sans-serif;
        font-size: 29px;
        font-weight: 400;
        line-height: 24px;
        text-shadow: 0.5px 0.9px 0 #0f1518;
        text-transform: uppercase;
    }
    .header-info_company2{
        margin: -24px 0 0 119px;
        display: block;
        float: left;
        color: white;
        font-family: 'league_gothicregular', Arial, sans-serif;
        font-size: 29px;
        font-weight: 400;
        line-height: 24px;
        text-shadow: 0.5px 0.9px 0 #0f1518;
        text-transform: uppercase;
    }
    .header-info_company3{
        margin: -24px 0 0 114px;
        float: left;
        display: block;
        color: white;
        font-family: 'league_gothicregular', Arial, sans-serif;
        font-size: 29px;
        font-weight: 400;
        line-height: 24px;
        text-shadow: 0.5px 0.9px 0 #0f1518;
        text-transform: uppercase;
    }
    .header-info_text{
        margin: 10px 0 0 59px;
        width: 226px;
        height: 142px;
        float: left;
        display: block;
        color: white;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        text-shadow: 0.5px 0.9px 0 #0f1518;
        overflow: hidden;
    }
    .header-info_text2{
        margin: 10px 0 0 116px;
        width: 226px;
        height: 142px;
        float: left;
        display: block;
        color: white;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        text-shadow: 0.5px 0.9px 0 #0f1518;
        overflow: hidden;
    }
    .header-info_text3{
        margin: 10px 0 0 107px;
        width: 226px;
        height: 142px;
        float: left;
        display: block;
        color: white;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        text-shadow: 0.5px 0.9px 0 #0f1518;
        overflow: hidden;
    }
    .header-info_next{
        margin: 152px 0 68px -64px;
        float: left;
        display: block;
        color: white;
        font-family: 'league_gothicregular', Arial, sans-serif;
        font-size: 19px;
        line-height: 18px;
        text-decoration: none;
        text-shadow: 0.5px 0.9px 0 #0f1518;
        text-transform: uppercase;
        overflow: hidden;
    }
    .header-info_next:hover{
        margin: 152px 0 68px -64px;
        color: white;
        font-family: 'league_gothicregular', Arial, sans-serif;
        font-size: 19px;
        line-height: 18px;
        text-decoration: none;
        text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
        text-transform: uppercase;
    }
    .line-green{
        position: absolute;
        top: 339px;
        left: 0px;
        width: 100%;
        border-bottom: 1px solid #1d2f37;
    }
    .line-black{
        position: absolute;
        top: 340px;
        left: 0px;
        width: 100%;
        height: 1px;
        border-top: 1px solid #0d151b;
    }
    .content{
        position: absolute;
        top: 1188px;
        left: 0px;
        width: 100%;
        height: 1px;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        background-color: #f9f9f9;
    }
    .content-first{
        margin: 133px 0 0 0;
        float: left;
        width: 385px;
        height: 259px;
        border: 1px solid transparent;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        overflow: hidden;
    }
    .content-first-photo {
        margin: 16px 0 0 0;
        float: left;
    }
    .content-first_text{
        margin: 30px 0 0 13px;
        float: left;
        display: block;
        color: #454545;
        font-family: 'league_gothicregular', Arial, sans-serif;
        font-size: 29px;
        line-height: 24px;
        text-shadow: 0.5px 0.9px 0 white;
        text-transform: uppercase;
    }
    .content-first_text2{
        margin: 29px 0 0 8px;
        float: left;
        display: block;
        color: #edbfff;
        font-family: 'league_gothicregular', Arial, sans-serif;
        font-size: 29px;
        line-height: 24px;
        text-shadow: 0.5px 0.9px 0 white;
        text-transform: uppercase;
    }
    .content-first_text3{
        padding: 10px 0 0px 11px;
        display: block;
        float: left;
        width: 355px;
        height: 168px;
        color: #454545;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        text-shadow: 0.5px 0.9px 0 white;
    }
    .content-first_text4{
        display: none;
    }
    .lines2{
        position: absolute;
        top: 394px;
        left: 194px;
    }
    .content-second{
        margin: 133px 0 0 0;
        float: right;
    }
    .content-photo{
        display: none;
    }
    .content-second-photo,
    .content-second-photo2,
    .content-second-photo3{
        margin: 19px 0 0 -64px;
        display: block;
    }
    .content-updates{
        margin: 0 0 0 -65px;
        color: #454545;
        font-family: 'league_gothicregular', Arial, sans-serif;
        font-size: 30px;
        line-height: 24px;
        text-shadow: 0.5px 0.9px 0 white;
        text-transform: uppercase;
    }
    .content-second_text{
        margin: -53px 0 0 1px;
        width: 250px;
        height: 21px;
        display: block;
        color: #454545;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        text-shadow: 0.5px 0.9px 0 white;
        overflow: hidden;
    }
    .content-second_text2{
        margin: 2px -18px 0 0px;
        width: 380px;
        height: 23px;
        display: block;
        color: #454545;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        text-shadow: 0.5px 0.9px 0 white;
        overflow: hidden;
    }
    .block{
        margin: 0px 0 0 0px;
        display: block;
    }
    .block2{
        margin: 0px 0 0px 0;
        display: block;
    }
    .block3{
        margin: 0 0 0 0;
        display: block;
    }
    .content-second_next{
        display: none;
    }
    .content-second_next2{
        margin: 27px 0 91px 279px;
        float: left;
        display: block;
        color: #454545;
        font-family: 'league_gothicregular', Arial, sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;
        text-decoration: none;
        text-shadow: 0.5px 0.9px 0 white;
        text-transform: uppercase;
    }
    .lines-white{
        margin: 0 0 0 0;
        width: 100%;
        height: 1px;
        border-top: 1px solid #e6e6e6;
        overflow: hidden;
    }
    .sponsors{
        position: absolute;
        top: 1699px;
        left: 0px;
    }
    .sponsors1{
        margin: 0 0 0 94px;
        display: inline-block;
    }
    .sponsors2{
        margin: 0 0 0 61px;
        display: inline-block;
    }
    .sponsors3{
        margin: 0 0 0 58px;
        display: inline-block;
    }
    .sponsors4{
        margin: 0 0 0 56px;
        display: inline-block;
    }
    .sponsors5{
        margin: 0 0 0 62px;
        display: inline-block;
    }
    .sponsors6{
        margin: 0 0 0 50px;
        display: inline-block;
    }




    .lines-grey{
        position: absolute;
        top: 1795px;
        left: 0px;
        width: 100%;
        border-top: 1px solid #d8d8d8;
    }
    .content-footer{
        position: absolute;
        top: 1796px;
        left: 0px;
        width: 100%;
        background-color: #ececec;
    }
    .content-footer_first{
        margin: 0 0 96px 0;
        width: 276px;
        height: 300px;
    }
    .content-footer_categories1,
    .content-footer_categories2{
        display: none;
    }
    .content-footer_text1,
    .content-footer_text2,
    .content-footer_text3{
        display: none;
    }
    .content-footer_cat{
        margin: 100px 0 17px 0;
        display: block;
        float: left;
        color: #454545;
        font-family: 'league_gothicregular', Arial, sans-serif;
        font-size: 46px;
        line-height: 36px;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
        text-transform: uppercase;
    }
    .content-footer_cat2{
        margin: 100px 0 0 0;
        display: block;
        float: left;
        color: #b9b9b9;
        font-family: 'league_gothicregular', Arial, sans-serif;
        font-size: 46px;
        line-height: 36px;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
        text-transform: uppercase;
    }
    .content-footer_cat3{
        margin: 0px 0 0 0;
        display: block;
        clear: left;
        color: #c5c5c5;
        font-family: 'Georgia', Arial, sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        text-shadow: 0.5px 0.9px 0 white;
    }
    .content-footer_text2_1{
        margin: 4px 0 0 0;
        display: block;
        width: 273px;
        height: 120px;
        color: #787878;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.4px;
        text-shadow: 0.5px 0.9px 0 white;
        overflow: hidden;
        float: left;
    }
    .content-footer_second{
        position: absolute;
        top: 100px;
        left: 335px;
        width: 225px;
    }
    .content-footer_Cat{
        margin: 0px 0 0 1px;
        color: #454545;
        font-family: 'league_gothicregular', Arial, sans-serif;
        font-size: 30px;
        line-height: 24px;
        text-shadow: 0.5px 0.9px 0 white;
        text-transform: uppercase;
    }
    .content-footer_text2_2{
        margin: 11px 0 0 2px;
        float: left;
        display: block;
        width: 275px;
        height: 170px;
        color: #787878;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.4px;
        text-shadow: 0.5px 0.9px 0 white;
        overflow: hidden;
    }
    .content-footer_third{
        margin: 0 0 0 0;
        position: absolute;
        top: 100px;
        left: 676px;
        width: 225px;
    }
    .content-footer_categories3{
        margin: 0 0 0 1px;
        color: #454545;
        font-family: 'league_gothicregular', Arial, sans-serif;
        font-size: 30px;
        line-height: 24px;
        text-shadow: 0.5px 0.9px 0 white;
        text-transform: uppercase;
    }
    .footer{
        margin: 0 0 0 0;
        position: absolute;
        left: 0px;
        width: 100%;
        background: url(../img/footer.png);
        background-position: top center;
        background-repeat: no-repeat;
        top: 2193px;
    }
    .footer-links{
        margin: 38px 0 41px 0;
        float: left;
    }
    .footer-links li {
        margin: 0 39px 0 0;
        display: inline-block;
    }
    .footer-links a {
        width: 435px;
        height: 15px;
        color: white;
        font-family: 'league_gothicregular', Arial, sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 34px;
        text-decoration: none;
        text-transform: uppercase;
        text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
    }
    .footer-text_first{
        margin: 42px 0 0 257px;
        display: inline-block;
        float: left;
        color: white;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 12px;
        font-weight: 300;
        line-height: 34px;
        text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
    }
    .footer-text_second{
        margin: 42px 0 0 4px;
        display: inline-block;
        color: white;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 12px;
        font-weight: 700;
        line-height: 34px;
        text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
    }
}
