@media (min-width: 768px) and (max-width: 959px){
    .wrapper{
        min-width: 768px;
        max-width: 959px;
        margin: 0 auto;
    }
    .header{
        padding-top: 70px;
        background: url(../img/bg.jpg);
        background-position: top center;
        background-repeat: no-repeat;
    }
    .logo{
        margin: 1px 0 0 12px;
        display: block;
        width: 152px;
        height: 39px;
        background: url(../img/logo.png) 0 0 no-repeat;
        overflow: hidden;
    }
    .header-home{
        padding: 35px 17px 0 13px;
        float: left;
        display: inline-block;
        color: white;
        font-family: 'league_gothicregular', Arial, sans-serif;
        font-size: 24px;
        line-height: 24px;
        text-decoration: none;
        text-transform: uppercase;
    }
    .header-home:hover{
        padding: 35px 17px 0 13px;
        float: left;
        display: inline-block;
        color: white;
        font-family: 'league_gothicregular', Arial, sans-serif;
        font-size: 24px;
        line-height: 24px;
        border-bottom: 2px solid #edbfff;
        text-decoration: none;
        text-transform: uppercase;
    }
    .header-menu-item{
        padding: 34px 22px 76px 31px;
        float: left;
        display: inline-block;
    }
    .header-menu_item-last{
        padding: 35px 0 0 27px;
        float: left;
        display: inline-block;
    }
    .header-menu-link{
        padding: 0 0 0 0;
        display: block;
        color: white;
        font-family: 'league_gothicregular', Arial, sans-serif;
        font-size: 24px;
        text-decoration: none;
        text-transform: uppercase;
    }
    .header-menu-link-last{
        padding: 0 0 0 0;
        display: block;
        color: white;
        font-family: 'league_gothicregular', Arial, sans-serif;
        font-size: 24px;
        text-decoration: none;
        text-transform: uppercase;
    }
    .header-text{
        margin: 0 0 0 0;
        height: 555px;
        clear: both;
        text-align: center;
    }
    .black-line{
        margin: 0 auto;
        height: 400px;
        background-color: rgba(0, 0, 0, 0.2);
    }

    .jcarousel-wrapper {
        margin: 20px auto;
        position: relative;
        width: 630px;
        height: 400px;
    }

    /** Carousel **/

    .jcarousel {
        position: relative;
        overflow: hidden;
    }

    .jcarousel ul {
        width: 20000em;
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .jcarousel li {
        float: left;
        width: 630px;
        height: 400px;
    }

    /** Carousel Controls **/

    .jcarousel-control-prev,
    .jcarousel-control-next {
        position: absolute;
        top: 200px;
    }

    .jcarousel-control-prev {
        left: -50px;
    }

    .jcarousel-control-next {
        right: -50px;
    }

    .jcarousel-control-prev:hover span,
    .jcarousel-control-next:hover span {
        display: block;
    }

    .header-text_block{
        margin: 130px 0 0 0;
        width: 300px;
        height: 199px;
        float: left;
    }
    .header-text_block2{
        margin: 130px 0 0 0;
        width: 300px;
        height: 199px;
        float: left;
    }
    .header-text_block3{
        display: none;
    }
    .header-text_first{
        margin: 0 0 0 0;
        display: block;
        width: 244px;
        color: #fefefe;
        font-family: 'league_gothicregular', Arial, sans-serif;
        font-size: 48px;
        line-height: 36px;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    }
    .header-text_second{
        margin: 0 0 0 0;
        display: block;
        width: 269px;
        color: #edbfff;
        font-family: 'league_gothicregular', Arial, sans-serif;
        font-size: 24px;
        line-height: 36px;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
        text-transform: uppercase;
    }
    .header-text_third{
        margin: 0 0 0 0;
        width: 287px;
        height: 107px;
        display: block;
        color: white;
        font-family: 'Open Sans', Arial, sans-serif;
        text-align: left;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: -0.3px;
    }
    .iphone{
        display: none;
    }
    .iphone4{
        margin: 0 24px 0 0;
        float: right;
    }
    .header-info{
        position: absolute;
        top: 799px;
        width: 100%;
        border-top: 1px solid #33253a;
        background: linear-gradient(to top, #322539, #745083);
    }
    .header-info_company{
        margin: 76px 0 0 73px;
        color: white;
        font-family: 'league_gothicregular', Arial, sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
        text-shadow: 0.5px 0.9px 0 #0f1518;
        text-transform: uppercase;
    }
    .header-info_company2{
        margin: -24px 0 0 99px;
        display: block;
        float: left;
        color: white;
        font-family: 'league_gothicregular', Arial, sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
        text-shadow: 0.5px 0.9px 0 #0f1518;
        text-transform: uppercase;
    }
    .header-info_company3{
        margin: -23px 0 0 109px;
        float: left;
        display: block;
        color: white;
        font-family: 'league_gothicregular', Arial, sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
        text-shadow: 0.5px 0.9px 0 #0f1518;
        text-transform: uppercase;
    }
    .header-info_text{
        margin: 3px 0 0 73px;
        width: 153px;
        height: 142px;
        float: left;
        display: block;
        color: white;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        text-shadow: 0.5px 0.9px 0 #0f1518;
        overflow: hidden;
    }
    .header-info_text2{
        margin: 3px 0 0 99px;
        width: 153px;
        height: 142px;
        float: left;
        display: block;
        color: white;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        text-shadow: 0.5px 0.9px 0 #0f1518;
        overflow: hidden;
    }
    .header-info_text3{
        margin: 2px 0 0 109px;
        width: 153px;
        height: 142px;
        float: left;
        display: block;
        color: white;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        text-shadow: 0.5px 0.9px 0 #0f1518;
        overflow: hidden;
    }
    .header-info_next{
        margin: 154px 0 64px -61px;
        float: left;
        display: block;
        color: white;
        font-family: 'league_gothicregular', Arial, sans-serif;
        font-size: 18px;
        line-height: 18px;
        text-decoration: none;
        text-shadow: 0.5px 0.9px 0 #0f1518;
        text-transform: uppercase;
        overflow: hidden;
    }
    .header-info_next:hover{
        margin: 154px 0 64px -61px;
        color: white;
        font-family: 'league_gothicregular', Arial, sans-serif;
        font-size: 18px;
        line-height: 18px;
        text-decoration: none;
        text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
        text-transform: uppercase;
    }
    .line-green{
        position: absolute;
        top: 337px;
        left: 0px;
        width: 100%;
        border-bottom: 1px solid #1d2f37;
    }
    .line-black{
        position: absolute;
        top: 338px;
        left: 0px;
        width: 100%;
        height: 1px;
        border-top: 1px solid #0d151b;
    }
    .content{
        position: absolute;
        top: 1140px;
        left: 0px;
        width: 100%;
        height: 1px;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        background-color: #f9f9f9;
    }
    .content-first{
        margin: 117px 0 0 0;
        float: left;
        display: block;
        width: 352px;
        height: 272px;
        border: 1px solid transparent;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        overflow: hidden;
    }
    .border{
        margin: 0 0 0 0;
        float: left;
        display: block;
        width: 352px;
        height: 272px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        overflow: hidden;
    }
    .content-first-photo {
        margin: 0 0 0 8px;
        float: left;
    }
    .content-first_text{
        margin: 11px 0 0 16px;
        float: left;
        display: block;
        color: #454545;
        font-family: 'league_gothicregular', Arial, sans-serif;
        font-size: 24px;
        line-height: 24px;
        text-shadow: 0.5px 0.9px 0 white;
        text-transform: uppercase;
    }
    .content-first_text2{
        margin: 35px 0 0 -78px;
        float: left;
        display: block;
        color: #edbfff;
        font-family: 'league_gothicregular', Arial, sans-serif;
        font-size: 24px;
        line-height: 24px;
        text-shadow: 0.5px 0.9px 0 white;
        text-transform: uppercase;
        overflow: hidden;
    }
    .content-first_text3{
        display: none;
    }
    .content-first_text4{
        margin: 9px 0 0 72px;
        float: left;
        display: block;
        width: 255px;
        height: 178px;
        color: #454545;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        text-shadow: 0.5px 0.9px 0 white;
        overflow: hidden;
    }
    .lines2{
        position: absolute;
        top: 395px;
        left: 149px;
    }
    .content-second{
        margin: 133px 24px 0 0;
        float: right;
    }
    .content-photo{
        display: none;
    }
    .content-second-photo,
    .content-second-photo2,
    .content-second-photo3{
        margin: 16px 17px 0 2px;
        float: left;
    }
    .content-updates{
        padding: 0 0 0 0;
        color: #454545;
        font-family: 'league_gothicregular', Arial, sans-serif;
        font-size: 30px;
        line-height: 24px;
        text-shadow: 0.5px 0.9px 0 white;
        text-transform: uppercase;
    }
    .content-second_text{
        margin: 17px 0 3px 0;
        width: 250px;
        height: 21px;
        display: block;
        color: #454545;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
        text-shadow: 0.5px 0.9px 0 white;
        overflow: hidden;
    }
    .content-second_text2{
        width: 260px;
        height: 23px;
        display: block;
        color: #454545;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        text-align: left;
        text-shadow: 0.5px 0.9px 0 white;
        overflow: hidden;
    }
    .block{
        margin: 0 0 0 0;
        display: block;
        overflow: hidden;
    }
    .block2{
        margin: 0 0 0 0;
        display: block;
        overflow: hidden;
    }
    .block3{
        margin: 0 0 0 0;
        display: block;
        overflow: hidden;
    }
    .content-second_next{
        margin: 16px 0 91px 251px;
        float: left;
        display: block;
        color: #454545;
        font-family: 'league_gothicregular', Arial, sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;
        text-decoration: none;
        text-shadow: 0.5px 0.9px 0 white;
        text-transform: uppercase;
    }
    .content-second_next2{
        display: none;
    }
    .lines-white{
        margin: 0 0 0 0;
        width: 100%;
        height: 1px;
        border-top: 1px solid #e6e6e6;
        overflow: hidden;
    }
    .sponsors{
        position: absolute;
        top: 1653px;
        left: 0px;
    }
    .sponsors1{
        margin: 0 0 0 15px;
        display: inline-block;
    }
    .sponsors2{
        margin: 0 0 0 49px;
        display: inline-block;
    }
    .sponsors3{
        margin: 0 0 0 50px;
        display: inline-block;
    }
    .sponsors4{
        margin: 0 0 0 44px;
        display: inline-block;
    }
    .sponsors5{
        margin: 0 0 0 56px;
        display: inline-block;
    }
    .sponsors6{
        margin: 0 0 0 38px;
        display: inline-block;
    }
    .lines-grey{
        position: absolute;
        top: 1748px;
        left: 0px;
        width: 100%;
        border-top: 1px solid #d8d8d8;
    }
    .content-footer{
        position: absolute;
        top: 1749px;
        left: 0px;
        width: 100%;
        background-color: #ececec;
    }
    .content-footer_first{
        margin: 0 0 0 0;
        width: 225px;
    }
    .content-footer_second{
        position: absolute;
        top: 101px;
        left: 277px;
        width: 225px;
    }
    .content-footer_third{
        margin: 0 0 0 0;
        position: absolute;
        top: 101px;
        left: 540px;
        width: 225px;
    }
    .content-footer_cat,
    .content-footer_cat2,
    .content-footer_cat3,
    .content-footer_Cat{
        display: none;
    }
    .content-footer_categories1{
        margin: 101px 0 8px 11px;
        color: #454545;
        font-family: 'league_gothicregular', Arial, sans-serif;
        font-size: 24px;
        line-height: 24px;
        text-shadow: 0.5px 0.9px 0 white;
        text-transform: uppercase;
    }
    .content-footer_categories2{
        margin: 0 0 0 0;
        color: #454545;
        font-family: 'league_gothicregular', Arial, sans-serif;
        font-size: 24px;
        line-height: 24px;
        text-shadow: 0.5px 0.9px 0 white;
        text-transform: uppercase;
    }
    .content-footer_categories3{
        margin: 0 0 0 0;
        color: #454545;
        font-family: 'league_gothicregular', Arial, sans-serif;
        font-size: 24px;
        line-height: 24px;
        text-shadow: 0.5px 0.9px 0 white;
        text-transform: uppercase;
    }
    .content-footer_text2_1,
    .content-footer_text2_2{
        display: none;
    }
    .content-footer_text1{
        margin: 0 0 91px 10px;
        float: left;
        display: block;
        width: 211px;
        height: 170px;
        color: #787878;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.4px;
        text-shadow: 0.5px 0.9px 0 white;
        overflow: hidden;
    }
    .content-footer_text2,
    .content-footer_text3{
        margin: 8px 0 0 0;
        float: left;
        display: block;
        width: 211px;
        height: 170px;
        color: #787878;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.4px;
        text-shadow: 0.5px 0.9px 0 white;
        overflow: hidden;
    }
    .footer{
        padding: 0 0 0 0;
        position: absolute;
        top: 2145px;
        left: 0px;
        width: 100%;
        background: url(../img/footer.png);
        background-position: top center;
        background-repeat: no-repeat;
    }
    .footer-links{
        margin: 0 0 0 0;
        float: left;
    }
    .footer-links li {
        margin: 0 39px 12px 0;
        display: inline-block;
    }
    .footer-links a {
        width: 435px;
        height: 15px;
        color: white;
        font-family: 'league_gothicregular', Arial, sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 34px;
        text-decoration: none;
        text-transform: uppercase;
        text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
    }
    .footer-text_first{
        padding: 30px 3px 40px 0;
        float: left;
        display: inline-block;
        color: white;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 12px;
        font-weight: 300;
        line-height: 34px;
        text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
    }
    .footer-text_second{
        padding: 30px 0 0 0;
        display: inline-block;
        color: white;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 12px;
        font-weight: 700;
        line-height: 34px;
        text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
    }
}
