*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #009999;
}
.wrapper{
    margin: 0 auto;
    margin-top: 170px;
    padding: 10px 0 15px 15px;
    width: 350px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}
li{
    margin-bottom: 10px;
    font: 15px Arial, sans-serif;
    list-style-type: none;
}
.item-delete{
    margin-top: 3px;
    margin-left: -33px;
    display: inline-block;
    text-align: center;
    width: 19px;
    height: 17px;
    background-color: #33CCCC;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}
.item-add{
    display: inline-block;
    width: 68px;
    height: 27px;
    background-color: #5CCDC9;
    border: 1px solid white;
    border-radius: 10px;
    color: black;
    outline: none;
}
.item-value{
    margin-left: 31px;
    width: 212px;
    height: 27px;
    border-radius: 10px;
    border: transparent;
    background-color: #8370D8;
    color: white;
    font: 14px Arial, sans-serif;
    text-align: center;
}
.editing .item-label{
    display: none;
}
.item-label{
    display: inline-block;
    padding: 10px 0 10px 20px;
    width: 316px;
    border-radius: 10px;
    background-color: #644AD8;
}
.editing .edit-input{
    display: inline-block;
    padding: 10px 0 10px 10px;
    width: 322px;
    border-radius: 10px;
    background-color: grey;
    font: 14px Arial, sans-serif;
    text-align: center;
}
.edit-input{
    display: none;
}
